/* GLOBAL STYLES
======================== */

*, *:before, *:after {
  box-sizing: border-box;
  /*border: 1px solid red;*/
}

html {
  font-size: 15px;
  color: #282828;
}

body {
  font-family: "GothamPro", Helvetica, Arial, sans-serif;
}

html,
body {
  width: 100vw;
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a {
  color: #fff;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: #fff;
}

.main-wrapper {
  width: 100%;
  height: 100%;
}

.header {
  position: relative;
  height: 85px;
  box-shadow: 0 5px 5px #f1f1f1;
  margin-bottom: 100px;
}

.footer {
  position: relative;
  height: 85px;
  background-color: #f1f1f1;
  margin-top: 100px;
}

.made-with-love {
  position: absolute;
  width: 250px;
  left: 0;
  right: 0;
  top: 40px;
  margin: 0 auto;
}

/* INDEX.HTML STYLES
======================== */

.learn-logo {
  position: absolute;
  width: 200px;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 28px;
}

.roster-text-container {
  margin: 0 auto 100px;
  text-align: center;
  width: 100%;
  max-width: 1000px;
}

.roster-text-container h1 {
  font-family: "GothamPro-Bold", Helvetica, Arial, sans-serif;
  font-size: 24px;
  color: #63bedc;
  margin-bottom: 5px;
}

.roster-text-container h2 {
  width: 75%;
  margin: 0 auto;
  font-family: "GothamPro-Light", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: normal;
  line-height: 1.2em;
}

.roster-cards-container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

.student-card {
  position: relative;
  /*background-image: url("../assets/img/profile-photo-placeholder.png");*/
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 305px;
  min-height: 400px;
  margin: 20px auto;
  border-radius: 5px;
}

.student-card:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-image: linear-gradient(to top, #000, rgba(0, 0, 0, .0) 50%);
  border-radius: 5px;
}

.student-card a {
  position: relative;
  display: block;
  height: 400px;
}

<<<<<<< HEAD
#kyle-greene-card {
  background-image: url("../assets/img/kyle-greene.jpg");
}

#kyle-greene-cover {
  background-image: url("../assets/img/kyle-greene-cover.jpg");
}

#ashley-muller-cover{
  background-image: url("../assets/img/Ashley-Muller-Cover.jpg");
}

#ashley-muller-card{
  background-image: url("../assets/img/Ashley-Muller.jpg");
}

#ed-karabinus-cover {
  background-image: url("../assets/img/ed-karabinus-cover.jpg");
}

#ed-karabinus-card {
  background-image: url("../assets/img/ed-karabinus.jpg");
}

#ruth-mesfun-cover {
  background-image: url("../assets/img/ruth-mesfun-cover.jpg");
}

#ruth-mesfun-card {
  background-image: url("../assets/img/ruth-mesfun.png"); 
}

#brett-heenan-cover {
  background-image: url("../assets/img/brett-heenan-cover.jpg");
}

#brett-heenan-card  {
  background-image: url("../assets/img/brett-heenan.jpg");
}

#mack-dalton-cover {
  background-image: url("../assets/img/mack-dalton-cover.jpg");
}

#mack-dalton-card {
  background-image: url("../assets/img/mack-dalton.jpg");
}

#taiwei-ko-card {
  background-image: url("../assets/img/taiwei.jpg");
}

#taiwei-ko-cover {
  background-image: url("../assets/img/city 1.jpg");
}

#daniel-brad-cover {
  background-image: url("../assets/img/daniel-brad-cover.jpg");
}

#daniel-brad-card {
  background-image: url("../assets/img/daniel-brad.jpg");
}

#aaron-figueroa-cover {
  background-image: url("../assets/img/cool_desktop_backgrounds_fd4.png");
}

#aaron-figueroa-card {
  background-image: url("../assets/img/IMG_1548.JPG");
}

#Jelson-Rodriguez-cover {
  background-image: url("../assets/img/Jelson-Rodriguez-cover.JPG");
}

#Jelson-Rodriguez-card {
  background-image: url("../assets/img/Jelson-Rodriguez.JPG");
}

#james-novak-cover {
  background-image: url("../assets/img/james-novak-cover.jpg");
}

#james-novak-card {
  background-image: url("../assets/img/james-novak.jpg");
}

#jason-mcelrath-card {
  background-image: url("../assets/img/jason-mcelrath.jpg");
}

#jason-mcelrath-cover {
  background-image: url("../assets/img/jason-mcelrath-cover.jpg");
}

#robert-cohen-card {
  background-image: url("../assets/img/robert-cohen.jpg");
}

#robert-cohen-cover {
  background-image: url("../assets/img/robert-cohen-cover.jpg");
}

#luke-ghenco-card {
  background-image: url("../assets/img/luke-ghenco.jpg");
}

#luke-ghenco-cover {
  background-image: url("../assets/img/luke-ghenco-cover.jpeg");
}

#shana-moore-card {
  background-image: url("../assets/img/shana-moore.jpg");
}

#shana-moore-cover {
  background-image: url("../assets/img/shana-moore-cover.jpg");
}

#michael-nolan-card {
  background-image: url("../assets/img/michael-nolan.jpg");
}

#michael-nolan-cover {
  background-image: url("../assets/img/michael-nolan-cover.jpg");
}

#joe-burgess-card {
  background-image: url("../assets/img/joe-burgess.jpeg");
}

#joe-burgess-cover {
  background-image: url("../assets/img/joe-burgess-cover.png");
}

#avi-flombaum-card {
  background-image: url("../assets/img/avi-flombaum.jpg");
}

#mat-balez-card {
  background-image: url("../assets/img/mat-balez.jpeg");
}

#mathieu-balez-cover {
  background-image: url("../assets/img/mathieu-balez-cover.jpeg");
}

#mathieu-balez-card {
  background-image: url("../assets/img/mathieu-balez.jpeg");
}

#diane-vu-cover {
  background-image: url("../assets/img/diane-vu-cover.jpg");
}

#diane-vu-card {
  background-image: url("../assets/img/diane-vu.jpg");
}

#bryony-delahoussaye-cover {
  background-image: url(../assets/img/bryony-delahoussaye-cover.jpg);
}

#bryony-delahoussaye-card {
  background-image: url(../assets/img/bryony-delahoussaye.jpg);
}

#frank-nowinski-card {
  background-image: url("../assets/img/frank-nowinski.jpg");
}

#frank-nowinski-cover {
  background-image: url("../assets/img/background.jpeg");
}

#phil-lai-cover {
  background-image: url("../assets/img/phil-lai-cover.jpg");
}

#phil-lai-card {
  background-image: url("../assets/img/phil-lai.jpg");
}
#vinesh-persaud-card {
  background-image: url("../assets/img/vinesh-persaud.jpg");
}

#vinesh-persaud-cover {
  background-image: url("../assets/img/vinesh-persaud-cover.jpg");
}


#marsi-meyers-miyashita-cover {
  background-image: url("../assets/img/marsi-meyers-miyashita-cover.jpg")
}

#marsi-meyers-miyashita-card {
  background-image: url("../assets/img/marsi-meyers-miyashita.jpg")
}

#sarah-lichter-card {
  background-image: url("../assets/img/sarah-lichter.jpg");
}

#sarah-lichter-cover {
  background-image: url("../assets/img/sarah-lichter-cover.jpeg");
}

#justin-thomas-card{
  background-image:url("../assets/img/justin-thomas.jpg");
}

#justin-thomas-cover{
  background-image: url("../assets/img/justin-thomas-cover.jpg");
}

#shmully-wolfson-cover{
  background-image: url("../assets/img/shmully-wolfson-cover.jpg")
}

#shmully-wolfson-card {
  background-image: url("../assets/img/shmully-wolfson.jpg");
}

#ben-wong-card {
  background-image: url("../assets/img/ben-wong-profile.jpg");
}

#ben-wong-cover {
  background-image: url("../assets/img/ben-wong-cover.jpg");
}

#pedro-acosta-card {
  background-image: url("../assets/img/pedro-acosta-brooke.jpeg");
}

#pedro-acosta-cover {
  background-image: url("../assets/img/sasuke-ak-halfwing.jpg");
}

#seth-goldberg-cover {
  background-image: url("../assets/img/seth-goldberg-cover.jpg");
}

#seth-goldberg-card {
  background-image: url("../assets/img/seth-goldberg.jpg");
}

#joseph-surla-cover {
  background-image: url("../assets/img/joseph-surla-cover.jpg");
}

#joseph-surla-card {
  background-image: url("../assets/img/joseph-surla.jpg");
}

#yoshi-tamaoki-cover {
  background-image: url("../assets/img/yoshi-tamaoki-cover.jpg");
}

#yoshi-tamaoki-card {
  background-image: url("../assets/img/yoshi-tamaoki.jpg");
}

#Matt-McGowan-card {
  background-image: url("../assets/img/matt-mcgowan.jpg");
}

#Matt-McGowan-cover {
  background-image: url("../assets/img/Matt-McGowan-Cover.jpg");
}

#don-febbraio-cover {
  background-image: url("../assets/img/don-febbraio-cover.jpg");
}

#don-febbraio-card {
  background-image: url("../assets/img/don-febbraio.jpg");
}

#danny-dawson-cover {
  background-image: url("../assets/img/danny-dawson-cover.jpg");
}

#danny-dawson-card {
  background-image: url("../assets/img/danny-dawson.jpg");
}

#dlm-card {
  background-image: url("../assets/img/dakota-profile.jpg");
}

#dlm-cover {
  background-image: url('../assets/img/sandra-ko-and-mario.jpg');
}

#jake-brady-cover {
  background-image: url("../assets/img/jake-brady-cover.JPG");
}

#jake-brady-card {
  background-image: url("../assets/img/jake-brady.jpg")
}

#alyssa-hertig-cover {
  background-image: url("../assets/img/alyssa-hertig-cover.jpg");
}

#alyssa-hertig-card {
  background-image: url("../assets/img/alyssa-hertig.jpg");
}

#lisa-marie-cover {
  background-image: url("../assets/img/lisa-marie-cover.jpg");
}

#lisa-marie-card {
  background-image: url("../assets/img/lisa-marie.jpg");
}

#tucker-bohman-cover {
  background-image: url("../assets/img/tucker-bohman-cover.png");
}

#tucker-bohman-card {
  background-image: url("../assets/img/tucker-bohman.png");
}

#alvin-lu-cover{
  background-image: url("../assets/img/alvin-lu-cover.JPG");
}

#alvin-lu-card{
  background-image: url("../assets/img/alvin-lu.JPG");
}

/* selector image links for david-kim */
#david-kim {
  background-image: url("../assets/img/david-kim.jpg");
}
#david-kim-cover {
  background-image: url("../assets/img/david-kim-cover.jpg");
}

#morgan-vanyperen-card {
  background-image: url("../assets/img/morgan-vanyperen.png");
}

#morgan-vanyperen-cover {
  background-image: url("../assets/img/morgan-vanyperen-cover.jpg");
}

#scotty-runyan-cover {
  background-image: url("../assets/img/scotty-runyan-cover.jpg");
}

#scotty-runyan-card {
  background-image: url("../assets/img/scotty-runyan.jpg");
}

#karuna-barla-cover {
  background-image: url("../assets/img/karuna-barla-cover.jpg");
}

#karuna-barla-card {
  background-image: url("../assets/img/karuna-barla.JPG");
}

#johnny-ramos-cover {
  background-image: url("../assets/img/johnny-ramos-cover.jpg");
}

#johnny-ramos-card {
  background-image: url("../assets/img/johnny-ramos.jpg");
}

#kyle-gray-card {
    background-image: url(../assets/img/kyle-gray-2.jpeg)
}

#kyle-gray-cover {
    background-image: url(../assets/img/kyle-background.jpg)
}

#pj-wickwire-card {
  background-image: url("../assets/img/pj-wickwire.jpg");
}

#pj-wickwire-cover {
  background-image: url("../assets/img/pj-wickwire-cover.jpeg");
}

#mitul-mistry-cover {
  background-image: url("../assets/img/mitul-mistry-cover.jpg");
}

#mitul-mistry-card {
  background-image: url("../assets/img/mitul-mistry-card.jpg");
}

#liz-denhup-cover {
  background-image: url("../assets/img/liz-denhup-cover.jpg");
}

#liz-denhup-card {
  background-image: url("../assets/img/liz-denhup.jpg");
}

#grace-lee-cover {
  background-image: url("../assets/img/grace-lee-cover.jpg")
}

#grace-lee-card {
  background-image: url("../assets/img/grace-lee.jpg")
}

#caleb-knox-card {
  background-image: url("../assets/img/caleb-knox.jpg");
}

#caleb-knox-cover {
  background-image: url("../assets/img/caleb-knox-cover.jpg");
}


#eric-an-cover {
  background-image: url("../assets/img/eric-an-cover.jpg");
}

#eric-an-card {
  background-image: url("../assets/img/eric-an.jpg");
}

#preet-dha-cover {
  background-image: url("../assets/img/preet-dha-cover.jpg");
}

#preet-dha-card {
  background-image: url("../assets/img/preet-dha.jpg");
}

#dan-osment-cover {
  background-image: url("../assets/img/dan-osment-cover.jpg");
}

#dan-osment-card {
  background-image: url("../assets/img/dan-osment.jpg");
}


.view-profile-div {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
  background-color: #63bedc;
  border-radius: 0 0 5px 5px;
  display: none;
  text-align: center;
}

.view-profile-text {
  font-family: "GothamPro-Bold", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  margin-top: 30px;
}

.card-text-container {
  text-align: center;
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.student-name {
  font-family: "GothamPro", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 2px;
  color: #fff;
}

.student-location {
  font-family: "GothamPro-Light", Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin: 0;
  color: #888;
}

/* PROFILE.HTML STYLES
======================== */
.profile .header {
  margin: 0;
  box-shadow: none;
}

.profile-banner {
  height: 410px;
  /*background-image: url("../assets/img/michael-nolan-cover.jpg");*/

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.vitals-container {
  position: relative;
  min-height: 360px;
  padding-bottom: 50px;
  border-bottom: 1px solid #e4e4e4;
}

.social-icon-container {
  width: 200px;
  margin: 0 auto;
  padding-top: 110px;
  text-align: center;
}

.social-icon {
  width: 30px;
  height: 30px;
  margin: 0 8px;
}

.profile-photo {
  /*background-image: url("../assets/img/michael-nolan.jpg");*/

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  height: 190px;
  width: 190px;
  top: -110px;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-radius: 100px;
}

.vitals-text-container {
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.profile-name,
.profile-location {
  font-weight: normal;
}

.profile-name {
  font-size: 36px;
  margin-bottom: 10px;
}

.profile-location {
  font-size: 18px;
  margin-bottom: 20px;
}

.profile-quote {
  font-family: "GothamPro-Light", Helvetica, Arial, sans-serif;
  font-size: 24px;
  color: #85929d;
  width: 75%;
  margin: 0 auto;
}

.details-container {
  width: 100%;
  max-width: 1200px;
  min-height: 350px;
  margin: 80px auto 0;
}

.details-block {
  width: 80%;
  margin: 0 auto;
}

.title-holder {
  font-family: "GothamPro-Bold", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: normal;
  color: #85929d;
  border-bottom: 1px dotted #85929d;
  padding-bottom: 20px;
  margin-bottom: 20px;
  margin-top: 40px;
}

.description-holder {
  font-family: "GothamPro-Light", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.4em;
}

.description-holder h4 {
  font-family: "GothamPro-Medium", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  padding-bottom: 8px;
  margin: 8px 0;
}

.description-holder h5 {
  font-size: 16px;
  font-weight: normal;
}

.education-content div:nth-child(3),
.experience-content div:nth-child(3) {
  padding-top: 15px;
  margin-top: 15px;
  border-top: 1px dotted #85929d;
}

.education-content div:nth-child(4),
.experience-content div:nth-child(4) {
  padding-top: 15px;
  margin-top: 15px;
  border-top: 1px dotted #85929d;
}
/* MEDIA QUERIES
======================== */
@media only screen and (min-width: 480px) {
  /* index.html */
  .learn-logo {
    left: 10%;
    margin: 0;
  }
  .roster-text-container h1 {
    font-size: 32px;
  }
  .roster-text-container h2 {
    font-size: 32px;
    width: 80%;
  }
  .student-card:hover .view-profile-div {
    display: block;
    z-index: 900;
  }
  .footer {
    height: 125px;
  }
  .made-with-love {
    top: 60px;
  }

  /* profile.html */
  .profile-quote {
    width: 80%;
  }
}

@media only screen and (min-width: 700px) {
  /* index.html */
  .roster-text-container h1 {
    font-size: 40px;
  }
  .roster-text-container h2 {
    font-size: 40px;
    width: 80%;
  }
  .roster-cards-container {
    width: 650px;
  }
  .student-card {
    display: inline-block;
    width: 305px;
  }
  .student-card:nth-of-type(odd) {
    margin-right: 35px;
  }

  /* profile.html */

  .profile-quote {
    width: 70%;
  }
}

@media only screen and (min-width: 1050px) {

  /* index.html */
  .roster .header {
    margin-bottom: 150px;
  }
  .roster-text-container h1 {
    font-size: 48px;
  }
  .roster-text-container h2 {
    font-size: 48px;
    width: 70%;
  }
  .roster-cards-container {
    width: 1000px;
  }
  .student-card:nth-of-type(3n) {
    margin-right: 0;
  }
  .student-card:not(:nth-of-type(3n)) {
    margin-right: 38px;
  }

  /* profile.html */

  .profile-header {
    margin-bottom: 0;
  }

  .profile-quote {
    width: 40%;
  }

  .details-container {
    width: 90%;
    position: relative;
  }

  .details-block {
    display: inline-block;
    width: 33%;
  }

  .bio-block, .education-block, .experience-block {
    position: relative;
    vertical-align: top;
  }

  .content-holder {
    width: 80%;
    margin: 0 auto;
  }

}


/* CLEARFIX HACK
======================== */

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}
